.main
  .login__panel
    .login__panel__no-account
      %p アカウントをお持ちでない方はこちら
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to "新規会員登録", new_registration_path(resource_name)
    .login__panel__account-link
      .fb-login-button
      .gl-login-button
    .login__panel__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .mail-field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-text"
        .password-field
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-text"
        = f.submit "ログイン", class: "btn"
        = render "devise/shared/links"
