= render "/items/templates/subheader"
.done-content
  .done-content__attention
    %i.far.fa-clock
      発送をお待ちください
    .done-content__attention__title
      購入が完了しました
    .done-content__item
      .done-content__item__inner
        .done-item-main
          .done-item-image
            = image_tag @image.image.to_s, alt: "image",size:'250x250', id:'pic1', class:'main-image'
          .done-item-detail
            .done-item-name
              = @item.name
              %p.done-price
                %span 
                  = "¥#{@item.price.to_s}"
                %span
                  .shipping-free (税込) 送料込み
    .done-content__item
      %form.done-form
        .done-price-table
          .done-price-table__left
            支払金額
          .done-price-table__right
            = "¥#{@item.price.to_s}"
        .done-content__user-info__submit
          = link_to "トップページへ戻る", root_path, class: 'done-content__user-info__submit__button'
= render "/items/templates/subfooter"
