= render "/items/templates/subheader"

.exhibit
  = form_with model: @item, url: items_path, local: true do |f|
    .exhibit__wrapper
      .exhibit__wrapper__itemimage
        .exhibit__wrapper__itemimage__label
          %label#label 出品画像
          %span#require 必須
        .exhibit__wrapper__itemimage__text
          %p 最大10枚までアップロードできます
        .exhibit__wrapper__itemimage__imagearea
          =icon("fas", "camera")
          .exhibit__wrapper__itemimage__imagearea__text
            %p ドラッグアンドドロップ
            %p またはクリックしてファイルをダウンロード

      .exhibit__wrapper__itemname
        .exhibit__wrapper__itemname__label
          %label#label 商品名
          %span#require 必須
        = f.text_field :name, class: "exhibit__wrapper__itemname__textbox", placeholder: "40文字まで"
        .exhibit__wrapper__itemname__label
          %label#label 商品の説明
          %span#require 必須
        = f.text_area :explanation, class: "exhibit__wrapper__itemname__textarea", placeholder: "商品の説明（必須）\n（色、素材、重さ、定価、注意点など）"

      .exhibit__wrapper__itemdetail
        .exhibit__wrapper__itemdetail__label
          %label#headline 商品の詳細
        .exhibit__wrapper__itemdetail__label
          %label#label カテゴリー
          %span#require 必須
        = f.select :category_id, options_for_select({レディース: 1}), include_blank: "正式にはカテゴリ機能実装で作成", class: "exhibit__wrapper__itemdetail__selectbox"
        .exhibit__wrapper__itemdetail__label
          %label#label サイズ
          %span#require 必須
        = f.text_field :size, class: "exhibit__wrapper__itemdetail__textbox", placeholder: "選択カテゴリ次第で表示だが、一旦枠だけ作成"
        .exhibit__wrapper__itemdetail__label
          %label#label ブランド
          %span#optional 任意
        = f.text_field :brand_name, class: "exhibit__wrapper__itemdetail__textbox", placeholder: "例）シャネル"
        .exhibit__wrapper__itemdetail__label
          %label#label 商品の状態
          %span#require 必須
        = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"}, class: "exhibit__wrapper__itemdetail__selectbox"

      .exhibit__wrapper__itemdelivery
        .exhibit__wrapper__itemdelivery__label
          %label#headline 配送について
        .exhibit__wrapper__itemdelivery__label
          %label#label 配送料の負担
          %span#require 必須
        = f.select :delivery_fee_id, options_for_select({送料込み（出品者負担）: 1}), include_blank: "正式にはactivehashで作成", class: "exhibit__wrapper__itemdelivery__selectbox"
        .exhibit__wrapper__itemdelivery__label
          %label#label 発送元の地域
          %span#require 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: "exhibit__wrapper__itemdelivery__selectbox"
        .exhibit__wrapper__itemdelivery__label
          %label#label 発送までの日数
          %span#require 必須
        = f.select :days_until_shipping_id, options_for_select({"1〜2日で発送": 1}), include_blank: "正式にはactivehashで作成", class: "exhibit__wrapper__itemdelivery__selectbox"

      .exhibit__wrapper__itemprice
        .exhibit__wrapper__itemprice__label
          %label#headline 価格（¥300〜9,999,999）
        .exhibit__wrapper__itemprice__area
          .exhibit__wrapper__itemprice__area__left
            %label#label 販売価格
            %span#require 必須
          .exhibit__wrapper__itemprice__area__right
            %p ¥
            = f.text_field :price, class: "exhibit__wrapper__itemprice__area__right__textbox", placeholder: "金額を入力してください"

      .exhibit__wrapper__submit
        = f.submit "出品する", class: "exhibit__wrapper__submit__button"
        = link_to "もどる", root_path, class: "exhibit__wrapper__submit__return"
      .exhibit__wrapper__coution
        %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります

= render "/items/templates/subfooter"