= render "/items/templates/subheader"
%h2.buy-content__title
  購入内容の確認
  .buy-content__item
    .buy-content__item__inner
      .buy-item-main
        .buy-item-image
          -# = image_tag "#{@item.images}", size: '64x64'
        .buy-item-detail
          .buy-item-name
            = @item.name
            %p.buy-price
              = "¥#{@item.price}"
              %span.shipping-free (税込) 送料込み
  .buy-content__item
    %form.buy-form
      .buy-price-table
        .buy-price-table__left
          支払金額
        .buy-price-table__right
          = "¥#{@item.price.to_s}"
  .buy-content__user-info
    .buy-content__user-info__inner
      %h3 支払方法
      .user-info-update
        = link_to "変更する", card_mypage_index_path , calss:"update-btn"
      .user-info-text
      - if @default_card_information.blank?
        %br /
      - else
        = "**** **** **** " + "#{@default_card_information.last4}"
        %br
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = "有効期限 " + exp_month + " / " + exp_year
        %br
  .buy-content__user-info
    .buy-content__user-info__inner
      %h3 配送先
      .user-info-update
        = link_to "変更する","#", calss:"update-btn"
      .user-info-text
        〒111-1111
        %br
        大阪府大阪市北区〇〇1-11
        %br
        山田太郎
        -# = form_width url:"#" do
        -#   %button.buy-button{type:"submit"} 購入する
        = form_with url: "#" do |f|
          = f.submit "購入する", class: "purchase__wrapper__submit__button"



.purchase-wrapper
  .purchase-wrapper__main
    .purchase-wrapper__main__title
      .purchase-wrapper__main__title__text
        購入内容の確認
    .border
    .purchase-wrapper__main__contents
      = image_tag(asset_path("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"), width: "100",height: "100")
      .purchase-wrapper__main__contents__right
        %p スニーカー
        %p ￥4980 (税込み) 
        %p 送料込み
    .border
    .purchase-wrapper__main__title
      .purchase-wrapper__main__title__text
        .price-box
          %p 支払い金額
          %P ￥14,800
    .purchase-wrapper__main__title
      .purchase-wrapper__main__title__text
        支払い方法
        %p クレジットカード
    .purchase-wrapper__main__title
      .purchase-wrapper__main__title__text
        配送先  〒123-4567
        東淀川区豊里1-2-3（908）
        %p 當眞　和博
      .purchase-wrapper__main__title__text.light.width
      = form_with url: "#" do |f|
        = f.submit "購入する", class: "purchase__wrapper__submit__button"
      %p.caution ※郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。

= render "/items/templates/subfooter"

